.container {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
}

.containerText {
    padding-left: 4rem;
}

.title {
    font-size: 2rem;
    color: aliceblue;
}

.titleName {
    display: flex;
    font-size: 2rem;
    color: aliceblue;
}

.titleWith {
    margin-top: 10px;
    font-size: 1rem;
    opacity: 0.8;
}

.titleAbility {
    color: #222;
    font-weight: bold;
    display: flex;
}
